.input-wrapper {
	background-color: rgb(221, 221, 221);
	display: flex;
	padding: 15px;
	border-radius: 15px;
}

.input {
	width: 20rem;
	padding: 5px 10px;
	border-style: none;
	border-radius: 15px;
}

.addbtn {
	margin-left: 15px;
	padding: 5px 20px;
	background-color: rgb(148, 243, 164);
	border-style: none;
	border-radius: 10px;
}
@media (max-width: 465px) {
	.input {
		width: 10rem;
	}
}
